#module-referralbyphone-program #idTab1 p{
	color: #414141;
	font-size: 16px;
}

.s_vouchers, .success{
	border: none;
	padding: 15px;
    margin-bottom: 15px;
    padding-left: 12px;
	border-left: solid 3px #92d097;
	background-color: #ddf0de;
	position: relative;
}

.s_vouchers i {
	color: #92d097;
	font-size: 34px;
}

.text_green{
    color: #229800;	
        line-height: 3;
    padding: 0 24px;
}

.reff_way{
	padding-bottom: 10px
}

.reff_way i{
	padding-right: 10px;
	width:25px;
	color: #92d097;
	font-size: 16px;

}

.reff_way i.material-icons{
    font-weight: bold;	
}

.s_vouchers_content{
	display: inline-block;
	padding-left: 14px;
	vertical-align: top;
    padding-top: 6px;
}

.nav {
  margin-bottom: 14px;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #999999; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #999999;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #777; }
  .nav .nav-divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }
  .nav-tabs > li {
    float: left;
    margin-bottom: -1px; }
    .nav-tabs > li > a {
      margin-right: 2px;
      font-size: 13px;
      line-height: 1.42857;
      border: 1px solid transparent;
      border-radius: 0px 0px 0 0; }
      .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #ddd; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #555555;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      cursor: default; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }
  
.hidden{
    display: none;
}

#referral_rules_link{
	text-decoration: underline;
} 

#ref_link {
	padding-bottom: 14px;
	margin-top: 14px;
} 

#ref_link .fancybox {
	padding: 14px;
    line-height: 3;
    color: #fff;
    margin-bottom: 14px;
    background: #F39C11;
    cursor: pointer;
}  

#ws_referral_tabs {border-bottom:1px solid #acaaa6; }

#module-referralbyphone-program .tabs .tab-pane {
    padding-top: 1rem;
}  

#module-referralbyphone-program .footer_links li {list-style: none; margin-top: 14px;} 

.share_url { display: block;}

.panel {
    margin-bottom: 24px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
        padding-bottom: 14px;
}

.panel-heading {
    font-size: 20px;
    height: 50px;
    padding: 12px 0 0 20px;
}


.panel-warning {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #DADADA;
    color: #0A5AA1;
}

.referral_voucher {
	border: 1px dashed #000;
	margin: 24px 14px;
    width: 46%;
    display: flex;
    float: left;
}

.referral_voucher_save {
	flex: 1 1 45%;
	background: #01b0f1;
	text-align: center;
	color: #fff;
	padding: 6px;
}

.referral_voucher_save b {
	font-size: 24px;
    line-height: 2;
}

.referral_voucher_code {
	padding: 6px 12px;
	flex: 1 1 55%;
}

.referral_voucher_code b {
	font-size: 24px;
    line-height: 2;	
}

.referral_voucher_panel > small {clear: both;}

#statistic_tab{
	display: flex;
	margin-bottom: 24px;
}

#statistic_tab b{
	font-size: 24px;
	line-height: 2
}

#statistic_tab i{
	color: #fff;
	opacity:0.4;
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 66px;
}

#total_frinds_tab, #total_orders_tab, #total_loyalty_tab {
	background: #4cc0c1;
	color: #fff;
	margin-right: 34px;
	padding: 14px 70px 20px 31px;
	position: relative;
}

#total_orders_tab {
	background: #f05050;
}

#total_loyalty_tab {
	background: #fa8564;
}

.footer_links {
	clear: both;
}

.referral_voucher_panel .panel-content > small {
	display: block;
	clear: both;
}