/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 .footer-container {
    background: url(../../img/theme-bg.gif)no-repeat;
    padding-top: 83px;
    position: inherit;
    z-index: -9;
    background-position: center bottom;
}